form {
  margin: 0 auto;
  width: 50%;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type = submit]:hover{
  background-color: lightgray;
}


select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

label{
  padding: 10px;
  font-weight: bold;
}

